:root {
    --azul: #2667ff;
    --azulBajo: #6096ba;
    --blanco: white;
    --gris: #e1e5f2;
}
* {
    margin: 0;
    padding: 0;
}

/*NAV BAR*/
.nav-bar {
    background-color:var(--azul) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo-title {
    color: white;
    font-size: 3rem;
    font-family: 'Rampart One', cursive;
}
.nav-body {
    display: flex;
    align-items: center;
}
.link-nav {
    font-family: 'Rampart One', cursive;
    margin-right: 3rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
 /*FORM*/
.select {
    border: none;
    padding: 1rem;
    width: 15rem;
}

.form {
    height: 30rem;
    background-image: url(/img/backgroundSearch.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-title-container {
    margin: 2rem;
}
.form-title {
    font-size: 4rem;
}
.selections {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section label {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
/*HOTELS SECTION*/
.hotels {
    min-height: 20rem;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-title {
  margin: 1rem;
  text-align: center;
  font-size: 4rem;
}
.number-container-class {
    font-size: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--azul);
    color: white;
}

.hotels-container {
    margin-left: 10rem;
    padding: 2rem;
    margin-right: 10rem;
}
.hotel {
    display: grid;
    background-color: var(--blanco);
    column-gap: 1rem;
    grid-template-columns: 40% 30% 30%;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
}

/* MODIFICADORES */
.excellent {
    background-color: green;
}
.very-good {
    background-color: rgb(13, 172, 13);
}
.good {
    background-color: rgb(10, 233, 10);
}
.not-quite-good {
    background-color: rgb(255, 168, 6);
}
.bad {
    background-color: rgb(211, 73, 73);
}
.very-bad {
    background-color: rgb(247, 6, 6);
}
.quit  {
    display: none;
    transition: 0.6s ease-in;
}
/*SECTION HOTEL: IMG*/
.hotel-img {
    width: 100%;
    height: 30rem;
}
/*SECTION HOTEL: BODY*/
.hotel-body {
    display: flex;
    flex-direction: column;
}
.hotel-title {
    font-size: 4rem;
}
.hotel-star {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hotel-star i {
    font-size: 3rem;
}
.hotel-location {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.location-icon {
    width: 4rem;
    height: 4rem;
}
.hotel-rating {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
.rate-number {
    color: var(--blanco);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 3rem;
}
.rate-text {
    font-size: 2rem;
}
/*SECTION HOTEL: OFFERT*/
.hotel-price {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    width: 85%;
    padding: 1rem;
    background-color: var(--gris);
    column-gap: 2rem;
    border-radius: 3rem;
}
.hotel-services {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.service-img {
    width: 5rem;
}
.reserve-btn {
    margin-top: 1rem;
    background-color: var(--azulBajo);
    border-style: none;
    padding: 1rem;
    font-size: 2rem;
    color: white;
}

/*FOOTER*/
.footer {
    background-color: var(--gris);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social-media {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.social-media-title {
    text-align: center;
    font-size: 1.5rem;
}
.media-img {
    width: 10rem;
    height: 10rem;
}
.footer-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    font-size: 2em;
    border-bottom: solid 4px var(--azul);
}

/*SI NO HAY RESULTADO*/
.paragraph {
    display: none;
    margin: 2rem;
    margin-top: 5rem;
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    width: 40rem;
    text-transform: uppercase;
    background-color: var(--azulBajo);
}

.display {
    display: block;
}